body {
    background-color: aquamarine;
}

.custom-figure {
    opacity: 1;
    transition: 0.3s;
}

.custom-figure:hover {
    opacity: .7;
}

.queue li {
    display: inline;
    text-align: center;
    margin: 3px 3px 3px 3px;
    font-size: 20px;
}

.queueButton {
    text-align: center;
    background-color: aquamarine;
    margin: 3px 3px 3px 3px;
    border-radius: 8px;
}

.enqueue {
    border-radius: 8px;
}

.header {
    text-align: center
}